.cards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	.card {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-block: 10px;
		padding-inline: 18px;
		gap: 4.6rem;
		background-color: aquamarine;
		border-radius: 12px;
		.inputs {
			width: 290px;
			height: 50px;
			border-radius: 8px;
			background-color: azure;
			color: rgb(22, 21, 21);
			font-size: 17px;
			font-weight: 500;
			padding-left: 10px;
			&:active {
				border: none;
			}
		}
		h2 {
			color: rgb(22, 21, 21);
			font-size: 25px;
			font-weight: 750;
		}
		p {
			color: rgb(22, 21, 21);
			font-size: 20px;
			font-weight: 600;
		}
		img {
			width: 100px;
			height: 100px;
			border-radius: 12px;
		}
	}
}
